<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-material@beta"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    </head>

    <meta charset="utf-8">
    <body>
    <script type="text/javascript" src="script.js"></script>
    <div id="single-tab-extension">
        <tabsetcomponent v-for="tabset in allTabsets" :key='tabset.id' :tabset="tabset"></tabsetcomponent>
    </div>
    </body>
</html>



