body {
	background-color: #FFF
}

a.tabs-links {
	text-decoration: none;
}

.deleteBtn {
	width: 100px;
}

.md-list {
	width: 520px;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

hr {
	width: 520px;
	margin-left: 0px;
}

.bottomToolbar {
	width: auto;
}	

.focused {
	display: none !important;
}

.activeClearIcon {
	visibility: visible !important;
	cursor: pointer;
}

.favIcons {
	width: 16px;
	height: 16px;
}

.buttonsWrapper {
	margin-left: 18px;
}

.tabsetCount {
	margin-left: 15px;
	font-family: 'Open Sans', sans-serif !important;
}

.loadingTab > div.md-progress-spinner {
	display: inline-flex !important;
    margin-left: -10px;
}

.loadingTab > a {
	display: inline-flex !important;
    margin-left: 6px;
}

.loadingTab > .md-icon {
	visibility: hidden !important;
}

.hideTabIcon {
	display: none;
}

.topBlock {
	display: flex;
	padding-left: 34px;
}

.tabsetNameGroup {
	padding-top: 20px;
	position: relative;
	left: -2px;
}

.input {
	text-align: center !important;
	transition: opacity  .3s !important;
}

.inputText {
	font-size: 27px !important;
	font-family: 'Open Sans', sans-serif !important;
}

.createdAt {
	margin-left: 43px;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif !important;
}

.blockIcon {
	position: relative;
	margin-top: 29px !important;
	left: -9px;
	top: 3px;
	cursor: pointer;
}
